
{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Todo List App
  
</h1>
  <div style="margin-top: 50px;" class="ui container">
      <div id="calendar"></div>
      <br>
      
      <form class="ui form" action="/add" method="post">
          <div class="field">
              <label>Todo Title</label>
              <input type="text" name="title" placeholder="Enter Todo..."><br>
              <label>Category</label>
              <input type="text" name="category" placeholder="Enter Category..."><br> <br>
              <button class="ui blue button" type="submit">Add</button>
          </div>
      </form>
      
    
      
      
      <div class="blank-div"></div>

      {% for todo in todo_list %}
      <div class="bordered-div">
          <p class="ui big header"> Task: {{ todo.title }} <br> Category: {{todo.category}}</p>

          <br>
          {% if todo.complete == False %}
          <span class="bordered-div">Not Complete</span>
          {% else %}
          <span class="bordered-div">Completed</span>
          {% endif %}
          <div class="blank-div"></div>
          

          <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
          <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
      </div>
      {% endfor %}
  </div>

  <hr> 

  <body>
    <h2 class="subtitle">
      {{ quote }} 
      {{ author }}
    </h2>
</body>
{% endblock %}