
{% extends "base.html" %}

{% block content %}
<body>
<h1 class="quote-box">
  {{ quote }} 
  {{ author }}
</h1>
  <div class="formbox">
          <div class="todo-box">
                <h2 style="text-align: center;font-family: 'Poppins', sans-serif; color: #83617A;"></h2>
                <br>
                <form action="/add" method="post">
                    <label for="Todo Item"></label>
                    <input type="text" name="title" id="Item" placeholder="Todo Item" required>
        
                    <label for="category"></label>
                    <input type="text" name="category" id="category" placeholder="Category" required>
        
                    <input style="font-family: 'Poppins',sans-serif; font-size: 16px; font-weight: 600;" type="submit" value="Add">
        
                </form>
            
          </div>
      </form>
      </h2>
    
      
      
      <div class="blank-div"></div>

      {% for todo in todo_list %}
      <div class="bordered-div">
          <p class="ui big header"> Task: {{ todo.title }} <br> Category: {{todo.category}}</p>

          <br>
          {% if todo.complete == False %}
          <span class="incomplete-div">Not Complete</span>
          {% else %}
          <span class="complete-div">  Completed  </span>
          {% endif %}
          <div class="blank-div"></div>
          

          <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
          <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
      </div>
      {% endfor %}
  </div>
</body>
{% endblock %}