
{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Todo List App
  
</h1>
  <div style="margin-top: 50px;" class="formbox">
      <h2 styles="text-align: center; font-family: 'Poppins',sans-serif;">
          <div class="login-box">
                <h2 style="text-align: center;font-family: 'Poppins', sans-serif; color: #83617A;"></h2>
                <br>
                <form action="/add" method="post">
                    <label for="Todo Item"></label>
                    <input type="text" name="title" id="Item" placeholder="Todo Item" required>
        
                    <label for="Category"></label>
                    <input type="text" name="Category" id="Category" placeholder="Category" required>
        
                    <input style="font-family: 'Poppins',sans-serif; font-size: 16px; font-weight: 600;" type="submit" value="Add">
        
                </form>
            
          </div>
      </form>
      </h2>
    
      
      
      <div class="blank-div"></div>

      {% for todo in todo_list %}
      <div class="bordered-div">
          <p class="ui big header"> Task: {{ todo.title }} <br> Category: {{todo.category}}</p>

          <br>
          {% if todo.complete == False %}
          <span class="bordered-div">Not Complete</span>
          {% else %}
          <span class="bordered-div">Completed</span>
          {% endif %}
          <div class="blank-div"></div>
          

          <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
          <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
      </div>
      {% endfor %}
  </div>

  <hr> 

<body>
    <h2 class="subtitle">
      {{ quote }} 
      {{ author }}
    </h2>
</body>
{% endblock %}